<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<!-- Footer -->
<div th:fragment="footer">
    <footer>
        <div class="footer-content">
            <div class="text-center p-3">
                © 2024 Car Application | <a href="mailto:alexandru.primac@student.kdg.be">Contact Us</a>
            </div>
            <div class="social-icons text-center">
                <a href="https://www.facebook.com" class="social-link" aria-label="Facebook">
                    <i class="bi bi-facebook" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.instagram.com" class="social-link" aria-label="Instagram">
                    <i class="bi bi-instagram" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
