<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Car Details</title>
    <link rel="icon" type="image/png" th:href="@{/favicon/Fav32.png}" sizes="32x32">
    <link rel="stylesheet" th:href="@{/css/carDetails.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <script src="/js/cars.js" defer></script>
    <script src="/js/navbar.js" defer></script>
</head>
<body>
<main>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Main container for the layout -->
    <div class="container my-4">
        <div class="row">
            <!-- Related Races card on the left -->
            <div class="col-4 col-md-4 mb-4">
                <div class="card">
                    <h3 class="card-title text-center">Related Races</h3>
                    <div class="card-body">
                        <div th:each="race : ${races}" class="list-group-item">
                            <h5 th:text="${race.name}"></h5>
                            <p><strong>Track:</strong> <span th:text="${race.track}"></span></p>
                            <img th:src="@{/images/{image}(image=${race.image})}" class="card-img-top" alt="Car Image">
                            <br><br><br>
                        </div>
                        <div class="card-footer text-center">
                            <a th:href="@{/races}" class="btn btn-primary bottom-0">View Race Details</a>
                            <br><br>
                            <!-- Show 'Add Race to Car' only for users with ADMIN role -->
                            <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-warning add-race-button"
                                    data-car-id="${car.id}">Add Race to Car
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Car card in the center -->
            <div class="col-12 col-md-4 mb-4">
                <div class="card">
                    <img th:src="@{/images/{image}(image=${car.image})}" class="card-img-top" alt="Car Image">
                    <div class="card-body">
                        <p class="card-text"><strong>Brand:</strong>
                            <input type="text" id="car-brand" th:value="${car.brand}" class="form-control" disabled>
                        </p>
                        <p class="card-text"><strong>Model:</strong>
                            <input type="text" id="car-model" th:value="${car.model}" class="form-control" disabled>
                        </p>
                        <p class="card-text"><strong>Engine Capacity:</strong>
                            <input type="number" step="0.1" id="car-engine" th:value="${car.engine}"
                                   class="form-control" disabled>
                        </p>
                        <p class="card-text"><strong>Horsepower:</strong>
                            <input type="number" id="car-horsepower" th:value="${car.horsepower}" class="form-control"
                                   disabled>
                        </p>
                        <p class="card-text"><strong>Year:</strong>
                            <input type="number" id="car-year" th:value="${car.year}" class="form-control" disabled>
                        </p>
                        <p class="card-text"><strong>Category:</strong>
                            <select id="car-category" class="form-control" disabled>
                                <option value="" disabled selected>Select Category</option>
                                <!-- Loop through the categories enum -->
                                <option th:each="category : ${categories}"
                                        th:value="${category.name()}"
                                        th:text="${category.name()}"
                                        th:selected="${car.category == category}"></option>
                            </select>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <!-- Show 'Delete' and 'Edit' buttons only for ADMIN role -->
                        <button sec:authorize="hasRole('ROLE_ADMIN')" id="delete-button"
                                class="delete-button btn btn-danger btn-lg"
                                th:attr="data-car-id=${car.id}" th:utext="#{button.delete}">
                            <i class="bi bi-trash"></i> Delete
                        </button>

                        <!-- Show 'Edit Car' only for ADMIN role -->
                        <button sec:authorize="hasRole('ROLE_ADMIN')" id="edit-button" class="btn btn-primary btn-lg">
                            Edit Car
                        </button>
                        <button id="save-button" class="btn btn-success btn-lg" style="display: none;">Save</button>
                        <button id="cancel-button" class="btn btn-secondary btn-lg" style="display: none;">Cancel
                        </button>
                    </div>
                </div>
            </div>

            <!-- Related Sponsors card on the right -->
            <div class="col-12 col-md-4 mb-4">
                <div class="card">
                    <h3 class="card-title text-center">Related Sponsors</h3>
                    <div class="card-body">
                        <div th:each="sponsor : ${sponsors}" class="list-group-item">
                            <h5 th:text="${sponsor.name}"></h5>
                            <img th:src="@{/images/{image}(image=${sponsor.image})}" class="img-thumbnail"
                                 alt="Sponsor Logo"><br><br><br>
                        </div>
                        <div class="card-footer text-center">
                            <a th:href="@{/sponsors}" class="btn btn-primary">Sponsor Details</a>
                            <br><br>
                            <!-- Show 'Add Sponsor to Car' only for ADMIN role -->
                            <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-warning add-sponsor-button"
                                    data-sponsor-id="${sponsor.id}">Add Sponsor to Car
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>
