<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Database Error</title>
    <link rel="icon" type="image/png" th:href="@{/favicon/Fav32.png}" sizes="32x32">
    <link rel="stylesheet" href="/css/bundle-site.css">
    <link rel="stylesheet" href="/css/bundle-databaseError.css">
    <link rel="stylesheet" href="/css/bundle-navbar.css">
    <link rel="stylesheet" href="/css/bundle-footer.css">
    <script src="/js/bundle-site.js" defer></script>
    <script src="/js/bundle-navbar.js" defer></script>

</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-20 text-center">
            <h1 class="text-danger">Database Error</h1>
            <p>We are sorry, it seems that a database problem occurred!</p>
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>