<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="icon" type="image/png" th:href="@{/favicon/Fav32.png}" sizes="32x32">
    <link rel="stylesheet" href="/css/bundle-site.css">
    <link rel="stylesheet" href="/css/bundle-navbar.css">
    <link rel="stylesheet" href="/css/bundle-footer.css">
    <script src="/js/bundle-site.js" defer></script>
    <script src="/js/bundle-navbar.js" defer></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Access Denied</h4>
        <p>You do not have permission to access this page. Please contact the administrator if you believe this is an error.</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</div>

<div th:replace="~{fragments/navbar :: navbar}"></div>
</body>
</html>
