<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Error</title>
    <link rel="icon" type="image/png" th:href="@{/favicon/Fav32.png}" sizes="32x32">
    <link rel="stylesheet" th:href="@{/css/generalError.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="/js/navbar.js" defer></script>
</head>
<body>

<!-- NavBar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-20 text-center">
            <h1 class="text-danger">Generic Error</h1>
            <p>We are sorry, a general problem occurred!</p>
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>