<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:utext="#{race.trackd}"></title>
    <link rel="stylesheet" href="/css/bundle-site.css">
    <link rel="stylesheet" href="/css/bundle-raceDetails.css">
    <link rel="stylesheet" href="/css/bundle-navbar.css">
    <link rel="stylesheet" href="/css/bundle-footer.css">
    <script src="/js/bundle-site.js" defer></script>
    <script src="/js/bundle-races.js" defer></script>
    <script src="/js/bundle-navbar.js" defer></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Main container for the layout -->
<div class="container my-4">
    <div class="row">
        <!-- Race Details Card (on the left) -->
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <img th:src="@{/images/{image}(image=${race.image})}" class="card-img-top" alt="Race Image">
                <div class="card-body">
                    <p class="card-text"><strong>Race Name:</strong>
                        <input type="text" id="race-name" th:value="${race.name}" class="form-control" disabled>
                    </p>
                    <p class="card-text"><strong>Race Date:</strong>
                        <input type="date" id="race-date" th:value="${race.date}" class="form-control" disabled>
                    </p>
                    <p class="card-text"><strong>Track:</strong>
                        <input type="text" id="race-track" th:value="${race.track}" class="form-control" disabled>
                    </p>
                    <p class="card-text"><strong>Location:</strong>
                        <input type="text" id="race-location" th:value="${race.location}" class="form-control" disabled>
                    </p>
                    <p class="card-text"><strong>Distance (in km):</strong>
                        <input type="number" id="race-distance" th:value="${race.distance}" class="form-control"
                               disabled>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <button sec:authorize="hasRole('ROLE_ADMIN')" id="delete-button"
                            class="delete-button btn btn-danger btn-lg"
                            th:attr="data-race-id=${race.id}" th:utext="#{button.delete}">
                        <i class="bi bi-trash"></i> Delete
                    </button>

                    <!-- Buttons -->
                    <button sec:authorize="hasRole('ROLE_ADMIN')" id="edit-button" class="btn btn-primary btn-lg">Edit
                        Race
                    </button>
                    <button sec:authorize="hasRole('ROLE_ADMIN')" id="save-button" class="btn btn-success btn-lg"
                            style="display: none;">Save
                    </button>
                    <button sec:authorize="hasRole('ROLE_ADMIN')" id="cancel-button" class="btn btn-secondary btn-lg"
                            style="display: none;">Cancel
                    </button>
                </div>
            </div>
        </div>

        <!-- Car Details Card (on the right) -->
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <h2 class="text-center">Cars participating</h2>
                <div th:each="car : ${car}" class="list-group-item">
                    <img th:src="@{/images/{image}(image=${car.image})}" class="card-img-top" alt="Car Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.brand}"></h5>
                        <p class="card-text"><strong th:utext="#{car.model}">:</strong> <span
                                th:text="${car.model}"></span></p>
                        <p class="card-text"><strong th:utext="#{car.engine}">Engine Capacity:</strong> <span
                                th:text="${car.engine} + ' L'"></span></p>
                        <p class="card-text"><strong th:utext="#{car.horsepower}">Horsepower:</strong> <span
                                th:text="${car.horsepower}"></span> hp</p>
                        <p class="card-text"><strong th:utext="#{car.year}">Year:</strong> <span
                                th:text="${car.year}"></span></p>
                        <p class="card-text"><strong th:utext="#{car.category}">Category:</strong> <span
                                th:text="${car.category}"></span></p>
                    </div>
                    <br>
                </div>
                <div class="card-footer text-center">
                    <a th:href="@{/cars}" class="btn btn-primary">View Cars Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
