<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{page.allraces}"></title>
    <link rel="stylesheet" href="/css/bundle-site.css">
    <link rel="stylesheet" href="/css/bundle-races.css">
    <link rel="stylesheet" href="/css/bundle-navbar.css">
    <link rel="stylesheet" href="/css/bundle-footer.css">
    <script src="/js/bundle-site.js" defer></script>
    <script src="/js/bundle-filterRaces.js" defer></script>
    <script src="/js/bundle-navbar.js" defer></script>
</head>
<body>
<main>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <br>
    <div sec:authorize="isAuthenticated()">
    <form onsubmit="return false;">
        <div>
            <label for="location">Filter:</label>
            <input type="text" id="location" name="location" placeholder="Enter location" required>
        </div>
    </form>
    </div>

    <div id="search-results"></div>

    <div id="all-races" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 mt-4">
        <div class="col" th:each="race : ${races}">
            <div class="card mb-4">
                <img th:src="@{/images/{image}(image=${race.image})}" class="card-img-top" alt="Car Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${race.name}"></h5>
                    <p class="card-text"><strong th:utext="#{race.track}">Track:</strong> <span
                            th:text="${race.track}"></span>
                    </p>

                    <div class="card-footer text-center mt-auto">
                        <a th:href="@{/race/{id}(id=${race.id})}" class="btn btn-primary" th:utext="#{car.details}">View
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</main>
</body>
</html>