<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{page.sponsors}">All Sponsors</title>
    <link rel="icon" type="image/png" th:href="@{/favicon/Fav32.png}" sizes="32x32">
    <link rel="stylesheet" href="/css/bundle-site.css">
    <link rel="stylesheet" href="/css/bundle-sponsors.css">
    <link rel="stylesheet" href="/css/bundle-navbar.css">
    <link rel="stylesheet" href="/css/bundle-footer.css">
    <script src="/js/bundle-site.js" defer></script>
    <script src="/js/bundle-filterSponsors.js" defer></script>
    <script src="/js/bundle-sponsors.js" defer></script>
    <script src="/js/bundle-navbar.js" defer></script>
</head>
<body>

<main>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <br>
    <div sec:authorize="isAuthenticated()" class="filter-container">
        <form onsubmit="return false;" class="filter-form">
            <div class="filter-group">
                <i class="bi bi-funnel-fill filter-icon"></i>
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="Search by name..." class="filter-input" required>
                <button type="submit" class="filter-button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div id="search-results"></div>

    <div id="all-sponsors" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 mt-4 justify-content-center">
        <div class="col" th:each="sponsor : ${sponsors}">
            <div class="card mb-4">
                <img th:src="@{/images/{image}(image=${sponsor.image})}"
                     class="card-img-top img-fluid" alt="Sponsor Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${sponsor.name}"></h5>
                    <p class="card-text"><strong th:utext="#{sponsor.industry}"></strong> <span
                            th:text="${sponsor.industry}"></span></p>
                    <p class="card-text"><strong th:utext="#{sponsor.founded}"></strong> <span
                            th:text="${sponsor.foundingYear}"></span></p>
                </div>

                <!-- Delete Button for the Sponsor -->
                <div class="card-footer text-center">
                    <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger remove-sponsor-button"
                            th:attr="data-sponsor-id=${sponsor.id}" th:utext="#{button.delete}">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</main>

</body>
</html>
