<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="icon" type="image/png" th:href="@{/favicon/Fav32.png}" sizes="32x32">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>User Profile</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Username:</dt>
                <dd class="col-sm-9" th:text="${user.username}"></dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9" th:text="${user.email}"></dd>

                <dt class="col-sm-3">Roles:</dt>
                <dd class="col-sm-9" th:text="${user.roles}"></dd>

                <dt class="col-sm-3">Account Created:</dt>
                <dd class="col-sm-9" th:text="${#dates.format(user.createdAt, 'dd MMM yyyy')}"></dd>
            </dl>
        </div>
    </div>
</div>
</body>
</html>