/* General body styles */
body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Form container */
form {
    justify-content: center;
    align-items: center;
    position: relative; /* Position the form absolutely */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Form elements alignment */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

/* Add race button styling */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Optional: add some hover effects */
input:hover,
input:focus {
    border-color: #007bff;
    outline: none;
}

/* Adjust padding for the form to make it more compact */
form input,
form label {
    margin-bottom: 10px;
}
