body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: #dc3545;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    color: #6c757d;
    line-height: 1.5;
}

.text-danger {
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

// Footer Styles
footer {
    position: relative ;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;
    line-height: 1.5;
    font-size: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.footer-content {
    padding: 2rem 0;
    text-align: center;
}

// Footer Links
footer a {
    color: #f8d7da;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #f8d7da;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
}

.social-icons svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    footer .text-center {
        font-size: 0.9rem;
        padding: 1rem;
    }
}