body {
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: #dc3545; /* Bootstrap danger color */
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    color: #6c757d; /* Bootstrap secondary color */
    line-height: 1.5;
}

.text-danger {
    font-weight: bold;
}

a {
    color: #007bff; /* Bootstrap primary color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    position: relative ; /* Needed to position footer content properly */
    bottom: 0; /* Place the footer at the bottom */
    text-align: center; /* Center align footer content */
    padding: 1rem 0; /* Add some top and bottom padding */
    line-height: 1.5; /* Adjust line-height as needed */
    font-size: 1rem; /* Adjust font size as needed */
    left: 0;
    right: 0;
    width: 100%;
    /*height: 140px; !* Adjust height as necessary *!*/
    color: white;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
    z-index: 1; /* Ensures the footer content appears above the video */
}

.footer-content {
    padding: 2rem 0;
    text-align: center;
}

/* Footer Links */
footer a {
    color: #f8d7da;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Social Icons */
.social-icons {
    margin-top: 1rem; /* Adds space between text and icons */
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #f8d7da; /* Icon color */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff; /* Hover color for icons */
}

.social-icons svg {
    width: 24px; /* Size of the icons */
    height: 24px;
}

/* Responsive Footer for Smaller Devices */
@media (max-width: 768px) {
    footer .text-center {
        font-size: 0.9rem;
        padding: 1rem;
    }
}