main {
    padding: 30px;
    background-color: #f8f9fa;
    padding-top: 100px

}

body, main {
    margin: 0;
    padding: 0;
}

.card:hover {
    transform: scale(1.05);
}

.card {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.2s;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

// Card title styles
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
}

.card-text {
    font-size: 1.1rem;
    color: #495057;
}

// Styles for the image
.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 400px;
    object-fit: cover;
}

.card img {
    max-height: 300px; // Ensures larger images
    object-fit: cover;
}
.container .row .col-md-4 {
    max-width: 35%;
}
@media (max-width: 768px) {
    .container .row .col-md-4 {
        max-width: 100%;
    }
}